<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>purchased</key>
		<false/>
		<key>displayName</key>
		<string>Text</string>
		<key>keyName</key>
		<string>text</string>
		<key>enabled</key>
		<true/>
		<key>icon</key>
		<string>!;&apos;</string>
		<key>packs</key>
		<array>
			<dict>
				<key>keyName</key>
				<string>original</string>
				<key>enabled</key>
				<true/>
				<key>height</key>
				<integer>10</integer>
				<key>width</key>
				<integer>32</integer>
				<key>chars</key>
				<dict>
					<key>9</key>
					<array>
						<string>!</string>
					</array>
					<key>8</key>
					<array>
						<string>;</string>
					</array>
					<key>7</key>
					<array>
						<string>:</string>
					</array>
					<key>6</key>
					<array>
						<string>&apos;</string>
					</array>
					<key>5</key>
					<array>
						<string>&apos;</string>
					</array>
					<key>4</key>
					<array>
						<string>,</string>
					</array>
					<key>3</key>
					<array>
						<string>,</string>
					</array>
					<key>2</key>
					<array>
						<string>.</string>
					</array>
					<key>1</key>
					<array>
						<string>.</string>
					</array>
					<key>0</key>
					<array>
						<string> </string>
					</array>
				</dict>
				<key>icon</key>
				<string>!;&apos;</string>
				<key>displayName</key>
				<string>Original</string>
			</dict>
            <dict>
                <key>keyName</key>
                <string>code</string>
                <key>enabled</key>
                <true/>
                <key>height</key>
                <integer>11</integer>
                <key>width</key>
                <integer>15</integer>
                <key>chars</key>
                <dict>
                    <key>9</key>
                    <array>
                        <string>#</string>
                    </array>
                    <key>8</key>
                    <array>
                        <string>;:</string>
                        <string>:;</string>
                    </array>
                    <key>7</key>
                    <array>
                        <string>!;</string>
                        <string>;!</string>
                    </array>
                    <key>6</key>
                    <array>
                        <string>8</string>
                    </array>
                    <key>5</key>
                    <array>
                        <string>&gt;</string>
                        <string>&lt;</string>
                    </array>
                    <key>4</key>
                    <array>
                        <string>o</string>
                    </array>
                    <key>3</key>
                    <array>
                        <string>,.</string>
                        <string>.,</string>
                    </array>
                    <key>2</key>
                    <array>
                        <string>  </string>
                    </array>
                    <key>1</key>
                    <array>
                        <string>  </string>
                    </array>
                    <key>0</key>
                    <array>
                        <string>  </string>
                    </array>
                </dict>
                <key>icon</key>
                <string>#!</string>
                <key>displayName</key>
                <string>Code</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>purchased</key>
		<false/>
		<key>displayName</key>
		<string>Emoji 😀</string>
		<key>keyName</key>
		<string>emoji</string>
		<key>enabled</key>
		<false/>
		<key>icon</key>
		<string>😀</string>
		<key>packs</key>
		<array>
			<dict>
				<key>keyName</key>
				<string>emojiface</string>
				<key>enabled</key>
				<false/>
				<key>height</key>
				<integer>11</integer>
				<key>width</key>
				<integer>8</integer>
				<key>chars</key>
				<dict>
					<key>9</key>
					<array>
						<string>😀</string>
						<string>😎</string>
					</array>
					<key>8</key>
					<array>
						<string>😛</string>
						<string>😋</string>
					</array>
					<key>7</key>
					<array>
						<string>😟</string>
					</array>
					<key>6</key>
					<array>
						<string>😦</string>
					</array>
					<key>5</key>
					<array>
						<string>😧</string>
					</array>
					<key>4</key>
					<array>
						<string>😮</string>
					</array>
					<key>3</key>
					<array>
						<string>😗</string>
					</array>
					<key>2</key>
					<array>
						<string>    </string>
					</array>
					<key>1</key>
					<array>
						<string>    </string>
					</array>
					<key>0</key>
					<array>
						<string>    </string>
					</array>
				</dict>
				<key>icon</key>
				<string>😄</string>
				<key>displayName</key>
				<string>Faces 😄</string>
			</dict>
			<dict>
				<key>keyName</key>
				<string>emojifood</string>
				<key>enabled</key>
				<false/>
				<key>height</key>
				<integer>11</integer>
				<key>width</key>
				<integer>8</integer>
				<key>chars</key>
				<dict>
					<key>9</key>
					<array>
                        <string>🍕</string>
                        <string>🍪</string>
                        <string>🎂</string>
					</array>
					<key>8</key>
					<array>
						<string>🍗</string>
						<string>🍖</string>
					</array>
					<key>7</key>
					<array>
						<string>🍩</string>
						<string>🍤</string>
					</array>
					<key>6</key>
					<array>
						<string>🍒</string>
					</array>
					<key>5</key>
					<array>
						<string>🍣</string>
					</array>
					<key>4</key>
					<array>
						<string>🍌</string>
					</array>
					<key>3</key>
					<array>
						<string>🍍</string>
					</array>
					<key>2</key>
					<array>
						<string>🍭</string>
					</array>
					<key>1</key>
					<array>
						<string>🍬</string>
					</array>
					<key>0</key>
					<array>
						<string>     </string>
					</array>
				</dict>
				<key>icon</key>
				<string>🍕</string>
				<key>displayName</key>
				<string>Food 🍕</string>
			</dict>
            <dict>
                <key>keyName</key>
                <string>emojianimals</string>
                <key>enabled</key>
                <false/>
                <key>height</key>
                <integer>11</integer>
                <key>width</key>
                <integer>8</integer>
                <key>chars</key>
                <dict>
                    <key>9</key>
                    <array>
                        <string>🐼</string>
                        <string>🐋</string>
                    </array>
                    <key>8</key>
                    <array>
                        <string>🐞</string>
                        <string>🐝</string>
                    </array>
                    <key>7</key>
                    <array>
                        <string>🐤</string>
                        <string>🐣</string>
                        <string>😾</string>
                    </array>
                    <key>6</key>
                    <array>
                        <string>🐢</string>
                        <string>🐊</string>
                    </array>
                    <key>5</key>
                    <array>
                        <string>🐕</string>
                        <string>🙈</string>
                        <string>🐈</string>
                    </array>
                    <key>4</key>
                    <array>
                        <string>🐄</string>
                        <string>🐓</string>
                    </array>
                    <key>3</key>
                    <array>
                        <string>🐇</string>
                        <string>🐖</string>
                    </array>
                    <key>2</key>
                    <array>
                        <string>    </string>
                    </array>
                    <key>1</key>
                    <array>
                        <string>    </string>
                    </array>
                    <key>0</key>
                    <array>
                        <string>    </string>
                    </array>
                </dict>
                <key>icon</key>
                <string>🐋</string>
                <key>displayName</key>
                <string>Animals 🐋</string>
            </dict>
            <dict>
                <key>keyName</key>
                <string>emojihearts</string>
                <key>enabled</key>
                <false/>
                <key>height</key>
                <integer>11</integer>
                <key>width</key>
                <integer>8</integer>
                <key>chars</key>
                <dict>
                    <key>9</key>
                    <array>
                        <string>💖</string>
                        <string>💘</string>
                    </array>
                    <key>8</key>
                    <array>
                        <string>❤</string>
                        <string>💚</string>
                        <string>💜</string>
                    </array>
                    <key>7</key>
                    <array>
                        <string>💛</string>
                        <string>💙</string>
                    </array>
                    <key>6</key>
                    <array>
                        <string>💎</string>
                        <string>👑</string>
                    </array>
                    <key>5</key>
                    <array>
                        <string>💕</string>
                    </array>
                    <key>4</key>
                    <array>
                        <string>💓</string>
                    </array>
                    <key>3</key>
                    <array>
                        <string>    </string>
                    </array>
                    <key>2</key>
                    <array>
                        <string>    </string>
                    </array>
                    <key>1</key>
                    <array>
                        <string>    </string>
                    </array>
                    <key>0</key>
                    <array>
                        <string>    </string>
                    </array>
                </dict>
                <key>icon</key>
                <string>💖</string>
                <key>displayName</key>
                <string>Hearts 💖</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>purchased</key>
		<false/>
		<key>displayName</key>
		<string>Mail 📧</string>
		<key>keyName</key>
		<string>mail</string>
		<key>enabled</key>
		<false/>
		<key>icon</key>
		<string>📧</string>
		<key>packs</key>
		<array>
			<dict>
				<key>keyName</key>
				<string>originalmail</string>
				<key>enabled</key>
				<false/>
				<key>height</key>
				<integer>20</integer>
				<key>width</key>
				<integer>64</integer>
				<key>chars</key>
				<dict>
					<key>9</key>
					<array>
						<string>!</string>
					</array>
					<key>8</key>
					<array>
						<string>;</string>
					</array>
					<key>7</key>
					<array>
						<string>:</string>
					</array>
					<key>6</key>
					<array>
						<string>&apos;</string>
					</array>
					<key>5</key>
					<array>
						<string>&apos;</string>
					</array>
					<key>4</key>
					<array>
						<string>,</string>
					</array>
					<key>3</key>
					<array>
						<string>,</string>
					</array>
					<key>2</key>
					<array>
						<string>.</string>
					</array>
					<key>1</key>
					<array>
						<string>.</string>
					</array>
					<key>0</key>
					<array>
						<string> </string>
					</array>
				</dict>
				<key>icon</key>
				<string>!;&apos;</string>
				<key>displayName</key>
				<string>Original</string>
			</dict>
			<dict>
				<key>keyName</key>
				<string>emojimail</string>
				<key>enabled</key>
				<false/>
				<key>height</key>
				<integer>20</integer>
				<key>width</key>
				<integer>16</integer>
				<key>chars</key>
				<dict>
					<key>9</key>
					<array>
						<string>😎</string>
						<string>😀</string>
					</array>
					<key>8</key>
					<array>
						<string>😛</string>
						<string>😋</string>
					</array>
					<key>7</key>
					<array>
						<string>😟</string>
					</array>
					<key>6</key>
					<array>
						<string>😦</string>
					</array>
					<key>5</key>
					<array>
						<string>😧</string>
					</array>
					<key>4</key>
					<array>
						<string>😮</string>
					</array>
					<key>3</key>
					<array>
						<string>😗</string>
					</array>
					<key>2</key>
					<array>
						<string>    </string>
					</array>
					<key>1</key>
					<array>
						<string>    </string>
					</array>
					<key>0</key>
					<array>
						<string>    </string>
					</array>
				</dict>
				<key>icon</key>
				<string>😄</string>
				<key>displayName</key>
				<string>Faces 😄</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
